body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    background: #FFFCF9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.icon {
    border-radius: 50%;
    overflow: hidden;
}

.icon > img {
    height: auto;
    display: block;
}

header > h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 3rem;
    margin: 10px;
    color: #0C0C15;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
}

nav {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
}

nav > a {
    color: #0C0C15;
    padding: 5px;
}

nav > a:hover {
    text-decoration: underline;
    color: #AE8C49;
}

nav > .home {
    color: #AE8C49;
}

/*MAIN*/

main {
    flex: 1 1 0;
    display: flex; /* Tornar main um flex container */
    justify-content: center; /* Centralizar horizontalmente os itens diretos dentro de main */
    align-items: center; /* Centralizar verticalmente os itens diretos dentro de main (se necessário) */
}

main > .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente dentro do container */
    /* justify-content: center; */ /* Pode ser usado para centralizar verticalmente também */
    margin: 2rem; /* Ajuste as margens conforme necessário */
    padding: 0;
    max-width: 1200px; /* Defina uma largura máxima para o container, se desejar */
    width: 100%; /* Garante que o container ocupe a largura disponível do main */
}

.snapwidget-container {
    width: 100%;
    overflow: hidden;
    display: flex; /* Para centralizar o iframe, se necessário */
    justify-content: center; /* Para centralizar o iframe, se necessário */
}

.snapwidget-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%; /* Garante que o grid ocupe a largura do container */
}

.snapwidget-grid > iframe {
    width: 100% !important;
    height: auto !important;
    border: none;
    /* margin: 0 auto; Tente isso também para centralizar o iframe dentro da célula do grid */
}

@media only screen and (max-width: 770px) {
    header > h1 {
        font-size: 3rem;
    }

    nav {
        font-size: 1.5rem;
    }

    main {
        padding: 2rem; /* Adicione padding ao main em telas menores, se necessário */
    }

    main > .container {
        margin: 0; /* Remova margens específicas em telas menores */
    }

    .snapwidget-grid {
        grid-template-columns: 1fr;
    }
}

/*FOOTER*/

footer {
    background-color: #E3DACF;
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin: 0;
    bottom: 0;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #545352;
    font-size: 1.4rem;
}

footer > .links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.btn {
    display: flex;
    align-items: center;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Nunito", sans-serif;
    font-size: 1.4rem;
    height: 100%;
    width: 9rem;
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    justify-content: center;
    padding: 5px;
    transition: background-color 0.5s;
}

.btn > img {
    width: 2.4rem;
    margin-right: 3px;
}

.btn > a {
    text-decoration: none;
    color: #545352;
}

.btn:hover {
    background-color: #FFFCF9;
    color: #525452;
}