
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    background: #FFFCF9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.icon {
    border-radius: 50%;
    overflow: hidden;
}
.icon > img {
    height: auto;
    display: block;
   
}

header > h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 3rem;
    margin: 10px;
    color: #0C0C15;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
}

nav {
    font-size: 1.5rem;
}
nav > a {
    color: #0C0C15;
    padding: 5px;

}
nav > a:hover {
    text-decoration: underline; 
    color: #AE8C49;
}
nav > .sobre {
    color: #AE8C49;
}

/*MAIN*/

main {
    flex: 1 1 0;
    align-items: center;
    margin: 0 auto;
    margin: 2rem 2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #AE8C49;
}

a:hover{
    text-decoration: underline;
}

.comissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    
}

.table td, .table th {
    padding: 12px 15px;

    text-align: center;
}

.table th {
    background-color: #C6A87F;

}

.table tbody tr:nth-child(even){
    background-color: #E3DACF;
}

@media only screen and (max-width: 770px) {
    header > h1 {
        font-size: 3rem;
    }
    nav {
        font-size: 1.5rem;
    }
    .table {
        width: 100%;
    }
}


/*FOOTER*/

footer {
    background-color: #E3DACF;
    text-align: center;
    margin: 0;
    bottom: 0;
    padding: 2rem 0;
    /*padding-bottom: 2rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #545352;
    font-size: 1.4rem;
}

footer > .links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.btn {
    display: flex;
    align-items: center;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.4rem;
    height: 100%;
    width: 9rem;
    margin: 5px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    justify-content: center;
    padding: 5px;
    transition: background-color 0.5s;
}

.btn > img {
    width: 2.4rem;
    margin-right: 3px;
}

.btn > a {
    text-decoration: none;
    color: #545352;
    
}

.btn:hover {
    background-color: #FFFCF9;
    color:#525452;

}

span {
    font-size: 1rem;
}